<%- include('partials/header'); -%>
<title>CookieCash</title>
<div id="hero-div"></div>
<div
  id="features"
  style="margin: -30vh auto 0 auto; padding: 20px 0px 20px 20vw; background-color: white;"
>
  <h1 class="hero-text">Tools to make parenting way, way easier.</h1>
</div>
<%- include('partials/footer'); -%>
